<include file="Index:header" />
<!--头部 end -->
<div class="sub-nav" sup="Project">
    <div class="sub-nav-inner">
        <div class="container">
            <!--Navigation start-->
            <div class="navbar navbar-inverse">
                <div class="navbar-inner">
                    <ul class="nav">
                        <li class="active"><a href="javascript:void(0)">产品类型</a></li>
                    </ul>
                </div>
            </div>
            <!--Navigation end-->
        </div>
    </div>
</div>
<!-- container start --> 
<div class=" row-fluid">
<div class="container paddtop  welfare">
<div class="span4">
	<dl>
	
    <dd class="welfare_top">
    	<h5 class="welfare_pledge">供应商应收账款</h5>
        <p class="text-warning introduce">应收账款是指企业在正常经营过程中因销售商品、产品、提供劳务等业务，应向购买单位收取的款项，它表示企业在销售过程中被购买单位所占用的资金，企业应及时收回应收账款以弥补企业在生产经营过程中的各种耗费，保证企业持续良性经营。</p>
        <p class="view"><a href="__ROOT__/Site/article/id/8.html">查看详细信息</a><a href="__ROOT__/Borrow/index/mortgage.html" class="btn btn-primary release">立即申请</a></p>
        
    </dd>
	</dl>
</div>


</div>
</div>
<!-- container end -->
<!--底部  start-->
<include file="Index:footer" />